footer {
  background-color: #fafafa;
  position: relative;
  overflow: hidden;

  &:before {
    // content: url("../../images/bg-pattern-footer-mobile.svg");
    content: url("../images/bg-pattern-footer-mobile.svg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @media screen and (min-width: 768px) {
      // content: url("../../images/bg-pattern-footer-desktop.svg");
      content: url("../images/bg-pattern-footer-desktop.svg");
      object-fit: contain;
    }
  }
}
.footer-first {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-top: 8.8rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #dadada;
  align-items: center;

  @media screen and(min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &-logo {
    z-index: 1000;
  }
  &-social-links {
    z-index: 1000;
    a {
      margin-right: 1.6rem;
    }
    a:nth-of-type(4) {
      margin-right: 0;
    }
  }
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-menus {
  z-index: 1000;
  h3 {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 1.5px;
    color: #837d88;
    text-transform: uppercase;
    margin-bottom: 3.6rem;
  }

  ul {
    list-style: none;
    text-align: center;
    padding-bottom: 4rem;

    li {
      margin: 1.6rem 0;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 1.5rem;
        text-align: center;
        letter-spacing: 1.5px;
        display: block;
        color: #2d2641;
      }
    }
  }
}
